<div class="col-md-12" ng-controller="applicantController as vm">
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title"> <i class="fa fa-plus"></i> Edit Applicant ({{applicantInfo.first_name}} {{applicantInfo.middle_name}} {{applicantInfo.last_name}}) </div>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" role="form" ng-submit="vm.updateLoanApplicant(applicantInfo)">
                <div class="col-md-12">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="first_name">First Name</label>
                            <input id="first_name" name="first_name" type="text"   ng-model="applicantInfo.first_name" class="form-control" placeholder="First Name" required="" value="">
                        </div>
                        <div class="form-group">
                            <label for="middle_name">Middle Name</label>
                            <input id="middle_name" name="middle_name" type="text" ng-model="applicantInfo.middle_name" class="form-control" placeholder="Middle Name" required="">
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last Name</label>
                            <input id="last_name" name="last_name" type="text" ng-model="applicantInfo.last_name" class="form-control" placeholder="Last Name" required="">
                        </div>
                        <div class="form-group">
                            <label for="gender">Gender</label>
                            <input id="gender" name="gender" type="text" ng-model="applicantInfo.gender" class="form-control"  placeholder="Gender" required="">
                        </div>
                        <div class="form-group">
                            <label for="birth_date">Birth Date</label>
                            <input id="birth_date" name="birth_date" type="text" ng-model="applicantInfo.birth_date" class="form-control" placeholder="Birth Date" required="">
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input id="phone" name="phone" type="text"  ng-model="applicantInfo.phone"  class="form-control" placeholder="Phone" required="">
                        </div>
                        <div class="form-group">
                            <label for="postal_address">Postal Address</label>
                            <input id="postal_address" name="postal_address" type="text"  ng-model="applicantInfo.postal_address"   class="form-control" placeholder="Postal Address" required="">
                        </div>
                        <div class="form-group">
                            <label for="marital_status">Marital Status</label>
                            <input id="marital_status" name="marital_status" type="text"  ng-model="applicantInfo.marital_status"   class="form-control" placeholder="Marital Status" required="">
                        </div>
                        <div class="form-group">
                            <label for="residence">Residence</label>
                            <input id="residence" name="residence" type="text"  ng-model="applicantInfo.residence" class="form-control" placeholder="Residence" required="">
                        </div>
                        <div class="form-group">
                            <label for="birth_date">Family Size</label>
                            <input id="family_size" name="family_size" type="text"  ng-model="applicantInfo.family_size"  class="form-control" placeholder="Family Size" required="">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6 col-lg-offset-3">
                        <div class="col-sm-12 form-group text-center">
                            <input class="btn btn-primary"  type="submit" value="Register">
                            <input class="btn btn-warning"  type="reset" value="Reset">
                        </div>
                    </div>
                </div>
            </form>
            <div class="col-md-12">
                <div class="alert alert-success " ng-if="success">Applicant <b> {{current.first_name}} {{current.middle_name}} {{current.last_name}}  </b> Registered Successfully.</div>
                <div class="alert alert-warning" ng-if="failure">Applicant <b> {{current.first_name}} {{current.middle_name}} {{current.last_name}}  </b> Fail Registration.</div>
            </div>
        </div>
    </div>
</div>