
<div class="panel profile-panel" ng-controller="applicationController as grantApp">
    <div class="panel-heading panel-visible">
        <div class="panel-title"> <i class="fa fa-user"></i>
            Loan Granting Form
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-submit="grantApp.grantLoan(grantApplication)">
                    <div class="thumbnail">
                        <div class="form-group">
                            <label  class="control-label col-sm-3">Applicant Name</label>
                            <div class="col-sm-9">
                                {{applicationInfo.applicants.first_name}} {{applicationInfo.applicants.middle_name}} {{applicationInfo.applicants.last_name}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="control-label col-sm-3">Applied Amount (in Tsh)</label>
                            <div class="col-sm-9">
                                {{applicationInfo.applied_amount}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label  class="control-label col-sm-3">Collateral</label>
                            <div class="col-sm-9">
                                {{applicationInfo.collateral}}   -  value  ({{applicationInfo.collateral_value}})
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Date Applied</label>
                            <div class="col-sm-9">
                                {{applicationInfo.created_at}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Comments</label>
                            <div class="col-sm-9">
                                {{applicationInfo.comments}}
                            </div>
                        </div>
                    </div>
                    <div class="thumbnail">
                        <h3>Granting Loan</h3>

                        <input type="hidden"  name="id" ng-model="grantApplication.applicant_id" class="ng-pristine ng-untouched ng-valid" value="">
                        <input type="hidden"  name="id" ng-model="grantApplication.id" class="ng-pristine ng-untouched ng-valid" value="">

                        <div class="form-group">
                            <div class="col-sm-6">Return Interval<input class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" ng-model="grantApplication.return_interval" placeholder="Return Interval" required="required" type="text" value=""> </div>
                            <div class="col-sm-6">Interval Type<br><input class="form-control ng-pristine ng-untouched ng-valid" ng-model="grantApplication.interval_type" placeholder="Interval Type" name="middlename"  required="required" type="text" value=""> </div>
                        </div>
                        <!--<div class="form-group">-->
                            <!--<div class="col-sm-6">Grant Amount<br><input class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" ng-model="grantApplication.loaned_amount" placeholder="Grant Amount" required="required" name="lastname" type="text" value=""> </div>-->
                            <!--<div class="col-sm-6">Profit Percent<br>-->
                                <!--<input class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" ng-model="grantApplication.profit_percent" required="required" name="lastname" type="text" value="{{}}">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<div class="col-sm-6">Amount To Return<br><input class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" ng-model="grantApplication.amount_to_return" placeholder="Amount To Return" required="required" name="phone" type="text" value=""> </div>-->
                            <!--<div class="col-sm-6"><span style="font-size: large;color: #ff0000;">*</span> Amount Per Return (if applicable)<br><input class="form-control ng-pristine ng-untouched ng-valid" ng-model="grantApplication.amount_per_return" placeholder="Amount Per Return" name="postal" type="text" value=""> </div>-->
                        <!--</div>-->
                        <div class="form-group">
                            <div class="col-sm-6">Loan Due Date (Expected)<br><input datepicker class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" ng-model="grantApplication.loan_actual_due_date" placeholder="Loan Due Date" required="required" name="residense" type="text" value=""> </div>
                            <div class="col-sm-6">Loan Duration<br><input class="form-control hasDatepicker ng-pristine ng-untouched ng-valid" ng-model="grantApplication.loan_duration" placeholder="Loan Duration" name="birthdate" type="text" value=""  required="required" > </div>
                        </div>

                    </div>
                    <div class="form-group text-center">
                        <input class="btn btn-primary" type="submit" value="Grant">
                        <input class="btn btn-warning" type="reset" value="Reset">
                        <a ng-href="#/settings/applications" class="btn btn-danger"><i class="fa fa-times"></i> Cancel</a>
                    </div>
                </form>

            </div>
        </div>
        <div class="clearfix"></div>
    </div>

</div>

